<!-- Modalヘッダー部分 -->
<div class="modal-header">
  <h5 class="modal-title" id="qrItemModalLabel"><%= item.item_name %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span></button>
</div>
<!-- Modalボディ部分 -->
<div class="modal-body">
  <div class="container-fluid bd-example-row text-center mx-auto responsive-qr-fit">
    <%= @qr %>
  </div>
</div>
<!-- Modalボディ部分終了 -->
