<div class="nested-fields form-group col-8">
  <%= f.text_field :tag_name, class: "form-control", placeholder: "追加しない場合削除して下さい", required: true %>
  <!-- </div> -->
  <%= link_to_remove_association "削除", f %>
</div>
