/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/* =====================Bootstrapオーバーライド================================= */
.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.card {
  width: 100%;
}

.button-remove-background {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

button:focus {
  outline: none;
}
/* ========================================================================== */
/* =================================全体====================================== */
.portforio-text-style {
  margin-top: 60px;
  line-height: 2.5rem;
}

.top-margin-title {
  margin-top: 20px;
  margin-left: 20px;
}

.circle-color {
  border: solid 2px rgba(255, 219, 175, 0.7);
}

.top-margin {
  margin-top: 100px;
}

.background-hight {
  height: 100%;
  width: 100%;
}

.background-shape {
  border-radius: 40px 40px 0 0;
}

.background-portforio {
  background-color: rgba(255, 229, 197, 0.5);
}

.background-item {
  background-color: rgba(255, 194, 120, 0.3);
}
/* ========================================================================== */
/* =============================メールアイコン================================= */
.mail-icon {
  position: fixed;
  z-index: 2000;
  padding: 10px;
  bottom: 10px;
  right: 20px;
}

.mail-icon-size {
  font-size: 1.5rem;
}
/* ========================================================================== */
/* ==========================左下カートアイコンデザイン========================== */
.cart-link {
  display: inline-block;
}

.cart-section-position {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 1030;
}

.cart-list-position:nth-of-type(n+2) {
  text-indent: -70px;
}

.cart-item-list img {
  width: 80px;
}
/* ========================================================================== */
/* ==============================モーダル内デザイン============================= */
.select-cash-button {
  display: block;
}

.display-none {
  display: none;
}

.pay-icon {
  font-size: 2rem;
  margin-left: 5%;
}

.count-size-textalign {
  width: 100%;
  text-align: left;
}

.count-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.text_field_bottom {
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.width-change-item {
  width: 70%;
}

.width-cart-image {
  width: 10%;
}

.top-margin-item {
  margin-top: 60px;
}

.cart-del-button {
  position: absolute;
  z-index: 2000;
  top: 20px;
  right: 20px;
}
.cart-del-button a {
  color: dimgray;
}
/* ========================================================================== */
@media (max-width: 575.98px) {
  .pay-icon {
    font-size: 1.5rem;
  }
}
